menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.9);
    display: none;
}

menu ul {
    margin-top: 10vh;
    margin-left: 20%;
    list-style: none;
}

menu li {
    width: fit-content;
    font-weight: lighter;
    text-transform: uppercase;
    color: black;
    padding: 50px 10px 20px 10px;
    margin-bottom: 50px;
    letter-spacing: 0.15em;
    font-size: 2.5em;
    position: relative;
    transform: translateY(100%);
    opacity: 0;
}

menu .item-1 {
    animation: translate 0.6s ease-out 0s 1 normal forwards;
}

menu .item-2 {
    animation: translate 0.6s ease-out 0.2s 1 normal forwards;
}

menu .item-3 {
    animation: translate 0.6s ease-out 0.4s 1 normal forwards;
}

menu li .line {
    position: absolute;
    height: 5px;
    width: 0%;
    background-color: black;
    bottom: 0;
    left: 0;
    transition: all 0.25s 0s ease-out;
}

menu li:hover .line {
    height: 2px;
    width: 100%;
}

@keyframes translate {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    50% {
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}